
.yourTurn {
    background: #28f1288a;
}

#chat-display {
    width: 100%;
    height: 150px;
    /* background-color:Gray; */
    overflow-y: auto;
}

.chatP {
    padding-top: 1px;
    padding-bottom: 1px;
}

.playerName {
    font-weight: bold;
    color: orange;
    letter-spacing: 0.025em;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        /* color: #DDD;
text-shadow: 0px 2px 3px #FFF; */
}
h1 {
    font-size: 5vw;
}

#middle-section, #results {
    font-size: 1vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #middle-section, #results {
        font-size: 5vw;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #middle-section, #results {
        font-size: 3vw;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #middle-section, #results {
        font-size: 2vw;
    }} 

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */